/* responsive features for tablet and pc */
@media (min-width:780px) {
    html {
	max-width: 960px;
	margin: 0 auto;
    }
    
    body {
	font-size: 1.2rem;
	line-height: 1.8rem;
    }
    .highlight {
	font-size: 1rem;
    }
    .article__info {
	display: flex;
	margin-top: 2rem;
	margin-left: 1rem;
	justify-content: flex-start;
	p {
	    margin: 0;
	}
    }
}
