@use 'colors' as colors;

.highlight {
    margin: 1rem auto;
    max-width: 85%;
    border: 2px solid colors.$border;
    box-shadow: 5px 5px 5px colors.$shadow;
    font-size: 1.1rem;
    font-family: 'cosolas', monospace;
    code {
	white-space: pre-line;
    }
}
