@use 'colors' as colors;

.highlight {
    margin: 0 auto;
    max-width: 95%;
    border: 2px solid colors.$border;
    box-shadow: 5px 5px 5px colors.$shadow;
    font-family: monospace;
    code {
	white-space: pre-line;
	display: inline-block;
	padding-left: 0.5rem;
    }
}
