/* $bg-color: #212221; */
$bg-color: #EBE9DD;
$select-color: #283F8F;
/* $link-color: #7FCD91; */
$link-color:$select-color;
$title-color: $link-color;
/* $text-color: #C8C6C6; */
$border-color: #3E0C06;
$text-color: #000;


::selection {
  color: $bg-color;
  background: $select-color;
}

* {
  box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
  font-family: 'Roboto', 'Noto Sans SC', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  background-color: #eee;
  color: $text-color;
  min-height: 100vh;
}

/* flexbox for main layout */
.flex__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-item: stretch;
}

.flex__main {
    flex-grow: 1;
}

/* heading and title */
h1, h2, h3, h4, h5, h6 {
    color: $title-color;
    font-weight: bold;
    margin: 1.3rem 1rem;
}

h1 {
    font-size: 1.65rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.75rem;
}

article {
    h1, h2, h3, h4, h5, h6 {
	color: $link-color;
    }
    h1::before {
	content: "# "
    }
    h2::before {
	content: "## "
    }
    h3::before {
	content: "### "
    }
    h4::before {
	content: "#### "
    }
    h5::before {
	content: "##### "
    }
    h6::before {
	content: "###### "
    }    
}

.title::before {
    content: ""
}

.title {
    color: $title-color;
    text-align: center;
    line-height: 2.5rem;
}

.site__title {
    font-size: 1.9rem;
    text-align: center;
    a {
	color: $text-color;
	text-decoration: none;
    }
    a:hover {
	text-decoration: underline $text-color;
	text-decoration-thickness: 0.2rem;
    }
}

.article__title {
    border: none;
}

.index-title {
    color: $text-color;
    text-align: center;
    font-size: 1.3rem;
}

.index-title::before {
    content: "# ";
}

/* link */
a {
    color: $link-color;
}

.title-link {
    line-height: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
}

p {
  margin: 0.7rem 1rem;
  text-align: justify;
}

pre {
    margin: 1rem 1.5rem;
    padding: 0.5rem;
    border: 2px solid $border-color;
    overflow: scroll;
    font-size: 1.2rem;
}

hr {
    border-style: none none none none;
    height: 0;
    background-color: $bg-color;
    border-top: 0.15rem dotted $text-color;
}

/* navbar */
#nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#nav-item {
    a {
	color: $text-color;
	padding: 0 1.5rem;
	text-decoration: none;
    }
}

/* footer */
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
}

blockquote {
    margin: 1rem;
    padding: 1rem;
    border-left: 1px solid #ccc;
}

/* image */
img {
    max-width: 100%;
}

/* description */
.description {
    color: #fff;
}

/* date */
.date {
    color: $text-color;
    margin: 0.5rem 1rem 1.2rem 1rem;
}

/* responsive features for tablet and pc */
@media (min-width:780px) {
    html {
	max-width: 960px;
	margin: 0 auto;
    }
    
    body {
	font-size: 1.3rem;
	line-height: 1.8rem;
    }

    pre {
	overflow: auto;
	white-space: pre-wrap;
    }
}
